<div id="<%= dom_id order %>">
  <p>
    <strong>Order item:</strong>
    <%= order.order_item_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

</div>
