<div id="<%= dom_id category %>">
  <p>
    <strong>Equipment type:</strong>
    <%= category.equipment_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= category.description %>
  </p>

</div>
